* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
}

html {
    font-size: 20px;
}

body {
    margin: 20px 0 20px 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    font-family: 'Rajdhani', sans-serif;
}

.title  {
    font-family: 'Syncopate', sans-serif;
}

h1, h2, h3 {
    font-weight: normal;
}

ul {
    list-style: none;
}
#main {
    padding: 1.2cm;
    width: 21cm;
    height: 29.7cm;
    background-color: white;
    display: flex;

    flex-wrap: wrap;

}

.col {
    height: 100%;
    border-bottom: 5px solid black;
}

#col1 {
    width: 65%;
}
#col2 {
    width: 1%;
}
#col3 {
    width: 34%;
}

#col2-1 {
    height: 10%;
}
#col2-2   {
    height: 7%;
    background-color:#3AB3DB ;
}

#col2-3 {
    height: 83%;
    background-color: black;
}

/*col1*/

#firstname {
    height: 10%;
    background-color: black;
    color: white;
    display: flex;
    padding: 10px;
}

#firstname h1 {
    margin: auto;
    font-size: 5.5rem;
    line-height: 0.9;
    text-transform: capitalize;
}

#lastname {
    height: 7%;
    padding: 10px;
}

#lastname h2 {
    width: 100%;
    text-align: right;
    color: #3AB3DB;
    font-size: 3.5rem;
    line-height: 0.9;
    font-family: 'Syncopate', sans-serif;
}

#technoBox, #profilBox {
    height: 83%;
    background-color:rgba(204,204,204,0.5) ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#techno h3 {
    text-align: right;
    text-transform: uppercase;

}

h3 p {
    text-align: right;
}

/*col3*/
#contact {
    height: 10%;
    background-color: black;
    color: #3AB3DB;
    display: flex;
    flex-direction: column;

    font-size: 0.9rem;
    justify-content: center;
    font-weight: bold;
    padding: 10px;

}

#job {
    padding: 10px;
    color: rgba(0,0 ,0, 0.7);
    height: 7%;
}

#job h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    line-height: 2.5;
}

#techno {
    display: flex;
    flex-direction: column;
}
#techno h4 {
    margin-left: -10px;
    background-color: black;
    color: white;
    display: inline-block;
    text-align: left;
    padding: 5px 10px;
    font-size: 0.7rem;
}

.box {
    padding: 10px 10px 15px 10px;
    display: flex;
    justify-content: space-between;
}


.box>div {
    display: flex;
    flex-direction: column;
   align-items: center;
}
.box i {
    font-size: 27px;
}
.stars i {
    font-size: 13px;
}

#jquery .stars {
    margin-top: -8px;
}
#adobe .stars {
    margin-top: 6px;
}

#other, .yearOther {
    font-style: italic;
    font-size: 0.6rem;
}

#other span, .yearOther span {
    font-weight: bold;
}

#study h3 {
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.year {
    display: flex;
    font-size: 0.7rem;
    margin: 7px 0;

}

.year i {
    margin-top: -2px;
    font-size: 25px;
}
.year span {
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    font-size: 0.6rem;
}

.year p {
    padding-left: 10px;
}

#y2018 {
    font-weight: 600;
    font-size: 0.8rem;
}

#drive {
    font-style: italic;
}

#capacity {
    font-size: 0.7rem;
    padding-top: 15px;
}

#capacity h4 {
    margin-bottom: 10px;
}

.diagBox {
    display: flex;
    justify-content: space-between;
    padding: 1px 0;
}

.graph {
     display: flex;
    align-items: center;
    width: 250px;

}

.graph1, .graph2{
    height: 10px;
}

.graph1 {
    background-color: #3AB3DB;
}

.graph2 {
    background-color: rgba(58,179,219, 0.5);
}

#responsive .graph1 {
    width: 90%;
}

#responsive .graph2 {
    width: 10%;
}

#poo .graph1 {
    width: 80%;
}
#poo .graph2 {
    width: 20%;
}

#security .graph1 {
    width: 70%;
}
#security .graph2 {
    width: 30%;
}

#seo .graph1 {
    width: 75%;
}

#seo .graph2 {
    width: 25%;
}

#accessibility .graph1 {
    width: 60%;
}

#accessibility .graph2 {
    width: 40%;
}

#english .graph1 {
    width: 65%;
}
#english .graph2 {
    width: 35%;
}



/*profil*/
#profilBox h5 {
    font-family: 'Syncopate', sans-serif;
    font-size: 0.8rem;
    color: #3AB3DB;
    text-transform: capitalize;
    padding-bottom: 10px;
}

#profil li {
    padding: 5px 0;
    font-size: 0.8rem;
}

/*job experiences*/
#expe{
    font-size: 0.7rem;
}

#expeDev {
    font-size: 0.8rem;
}

#expeDev span {
    font-weight: 600;
}

#ex

.fa-calendar {
    margin-right: 5px;
}

#expe span {
    font-weight: bold;
}

#expeCapacity li {
    display: flex;
    font-style: italic;
    padding: 3px 0;

}

#expeCapacity i {
    margin-right: 5px;
}

.expeLi {
    padding: 7px 0;

}

.fa-check {
    font-size: 0.5rem;
    padding-top: 5px;
}

/*hobby*/

#hobby {
    font-size: 0.7rem;
}

#hobbyBox {
    display: flex;
}

#legend, #hobbyGraph {
    width: 50%;
}

#legend li{
    padding: 1px 0;
}

#legend .reddit {
    color: #FE4A3B;
}

#hobbyGraph {
    display: flex;
    border-bottom: 2px solid #ABB3B6;
    justify-content:space-around;
    align-items: flex-end;
}

.hobbyLi {
    width: 10px;
}

#hobbyGraph .reddit {
    background-color: #FE4A3B;
    height: 75%;

}
#legend .com {
    color: #49AB56;
}

#hobbyGraph .com {
    background-color: #49AB56;
    height: 70%;
 }

#legend .serie {
    color: #bf8322;
}

#hobbyGraph .serie {
    background-color: #bf8322;
height: 90%;
 }

#legend .eat    {
    color: #269CA9;
}

#hobbyGraph .eat {
    height: 85%;
    background-color: #269CA9;
}

#legend .fit {
    color: #F5208D;
}

#hobbyGraph .fit {
    background-color: #F5208D;
    height: 65%;
}

#legend .sciences {
    color: purple;
}

#hobbyGraph .sciences {
    background-color: purple;
    height: 73%;
}

/*design correction*/
#tools .box {
    padding: 10px ;
}

#profil {
    padding-top: 7px;
}